/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.largeArea {
  margin-top: 50px;
}

.sideMenu {
}

.sideMenu h4 {
  display: inline-block;
  margin-right: 20px;
}

.sideMenu select {
  width: 100px;
}

.imageListCard {
  background-color: rgb(247, 247, 247);
  min-height: 652px;
  display: flex;
}

/* .largeArea::after {
  content: "";
  height: 700px;
  width: 100px;
  background-color: #000;
} */

.imageList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0px;
  padding: 30px 0 0 0;
}

.imageList li {
  padding: 0;
}

.imageCard {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 20px;
  transition: 0.3s;
  line-height: 150px;
  text-align: center;
  font-size: 16px;
}

.imageCard span {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0);
  padding: 2px 5px;
  border-radius: 5px;
}

.imageCard:hover {
  cursor: pointer;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.imageCard:hover span {
  color: #fff;
  background-color: #000;
}
