body {
  margin: 0;
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #00c3ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: neuzeit-grotesk-conden, sans-serif;
  font-style: normal;
  font-weight: 900;
}

/* ui background */

/* #background {
  position: absolute;
  width: 60%;
  top: 150px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: -1;
} */
